<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="breadcrumbs">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active"  >Home</a>
        <span>Contact</span>
      </div>

      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <h2>Contact</h2>
            <ul class="contact-detail">
              <li>
                <img src="assets/images/icon-contact-map.png" alt="#">
                <address><span>Company name. INC</span> <br>550 Avenue Street, New york</address>
              </li>
              <li>
                <img src="assets/images/icon-contact-phone.png" alt="">
                <a href="tel:1590912831">+1 590 912 831</a>
              </li>
              <li>
                <img src="assets/images/icon-contact-message.png" alt="">
                <a href="mailto:contact@companyname.com">contact@companyname.com</a>
              </li>
            </ul>
            <form (ngSubmit)="submitdata()">
            <div class="contact-form">
              <input [value]="name" type="text" class="name" placeholder="name..." required (blur)="name = $event.target.value; " >
              <input [value]="email" type="text" class="email" placeholder="email..." required (blur)="email = $event.target.value;" >
              <input [value]="web" type="text" class="website" placeholder="website..." (blur)="web = $event.target.value;" >
              <textarea [value]="msg" class="message" placeholder="message..." (blur)="msg = $event.target.value;" ></textarea>
              <button type="submit"  value="Send Message">Send Message</button><span *ngIf="post_sucess"> Sucessfully Submited</span>
            </div>
          </form>

          </div>
          <div class="col-md-7 col-md-offset-1">
            <div class="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</main>
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>