<div id="site-content">
  <!-- -->
  <header class="site-header">
    <div class="container">
      <a href="index.html" id="branding">
        <img src="assets/images/logo.png" alt="" class="logo">
        <div class="logo-copy">
          <h1 class="site-title">Company Name</h1>
          <small class="site-description">Tagline goes here</small>
        </div>
      </a> <!-- #branding -->

      <div class="main-navigation">
        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu">
          <!--   <nav><a routerLink="/movie/{{item.id}}">link</a></nav>
 -->      <nav>
          <li class="menu-item " [routerLinkActive]="['current-menu-item']" ><a [routerLink]="['/home']" >Home</a></li>
          <li class="menu-item " [routerLinkActive]="['current-menu-item']" ><a [routerLink]="['/temp']" >temp</a></li>
          <li class="menu-item " [routerLinkActive]="['current-menu-item']" ><a [routerLink]="['/movie-list']" >Movie Reviews</a></li>
          <li class="menu-item " [routerLinkActive]="['current-menu-item']" ><a [routerLink]="['/contact']" >Contact</a></li>  
          
          
          
          <!--<li class="menu-item current-menu-item"><a routerLink="/home">Home</a></li>
          <li class="menu-item"><a routerLink="/movie-list">Movie reviews</a></li>
          <li class="menu-item"><a routerLink="/temp">Join us</a></li>
          <li class="menu-item"><a routerLink="/contact">Contact</a></li>-->
          </nav>
        </ul> <!-- .menu -->

        <form action="#" class="search-form">
          <input type="text" placeholder="Search...">
          <button><i class="fa fa-search"></i></button>
        </form>
      </div> <!-- .main-navigation -->

      <div class="mobile-navigation"></div>
    </div>
  </header>

<router-outlet></router-outlet>


<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Recent Review</h3>
          <ul class="no-bullet">
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Sit amet consecture</a></li>
            <li><a href="#">Dolorem respequem</a></li>
            <li><a href="#">Invenore veritae</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Help Center</h3>
          <ul class="no-bullet">
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Sit amet consecture</a></li>
            <li><a href="#">Dolorem respequem</a></li>
            <li><a href="#">Invenore veritae</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Join Us</h3>
          <ul class="no-bullet">
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Sit amet consecture</a></li>
            <li><a href="#">Dolorem respequem</a></li>
            <li><a href="#">Invenore veritae</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Social Media</h3>
          <ul class="no-bullet">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Google+</a></li>
            <li><a href="#">Pinterest</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Newsletter</h3>
          <form action="#" class="subscribe-form">
            <input type="text" placeholder="Email Address">
          </form>
        </div>
      </div>
    </div> <!-- .row -->

    <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
  </div> <!-- .container -->

</footer>
</div>