<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-md-9">
          <div class="slider">
            <ul class="slides">
              <!-- <li *ngFor="let movie of movies"><a href="/movie/{{movie.id}}"><img src="{{movie.image}}" alt="Slide 1" style="max-width: 825px;max-height: 491px;"></a></li> -->
               
              <li><a routerLink="/movie/{{movie_obj[0].id}}"><img src="{{movie_obj[0].image}}" alt="Slide 1" style="max-width: 825px;max-height: 491px;"></a></li>
              <li><a routerLink="/movie/{{movie_obj[1].id}}"><img src="{{movie_obj[1].image}}" alt="Slide 2" style="max-width: 825px;max-height: 491px;"></a></li>
              <li><a routerLink="/movie/{{movie_obj[2].id}}"><img src="{{movie_obj[2].image}}" alt="Slide 3" style="max-width: 825px;max-height: 491px;"></a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <div class="latest-movie">
                <a routerLink="/movie/{{movie_obj[0].id}}"><img src="{{movie_obj[0].image}}" alt="Movie 1"></a>
              </div>
            </div>
            <div class="col-sm-6 col-md-12">
              <div class="latest-movie">
                <a routerLink="/movie/{{movie_obj[1].id}}"><img src="{{movie_obj[1].image}}" alt="Movie 2"></a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="latest-movie">
            <a routerLink="/movie/{{movie_obj[2].id}}"><img src="{{movie_obj[2].image}}" alt="Movie 3"></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="latest-movie">
            <a routerLink="/movie/{{movie_obj[3].id}}"><img src="{{movie_obj[3].image}}" alt="Movie 4"></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="latest-movie">
            <a routerLink="/movie/{{movie_obj[4].id}}"><img src="{{movie_obj[4].image}}" alt="Movie 5"></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="latest-movie">
            <a routerLink="/movie/{{movie_obj[5].id}}"><img src="{{movie_obj[5].image}}" alt="Movie 6"></a>
          </div>
        </div>
      </div> <!-- .row -->

      <div class="row">
        <div class="col-md-4">
          <h2 class="section-title">{{first}} premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            {{movie_obj[0].title}}{{month[0]}} {{movie_obj[5].title}}
          </p>
          <ul class="movie-schedule">
            <div *ngIf="firstmonth">
            <li *ngFor="let movie of firstmonth">
              <div class="date">{{movie.release}}</div>
              <h2 class="entry-title"><a routerLink="/movie/{{movie.id}}">{{movie.title}}</a></h2>
            </li>
           </div>
          </ul> <!-- .movie-schedule -->
        </div>
        <div class="col-md-4">
          <h2 class="section-title">{{sec}} premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="movie-schedule">
            
            <li *ngFor="let movie of secmonth">
              <div class="date">{{movie.release}}</div>
              <h2 class="entry-title"><a routerLink="/movie/{{movie.id}}">{{movie.title}}</a></h2>
            </li>

          </ul> <!-- .movie-schedule -->
        </div>
        <div class="col-md-4">
          <h2 class="section-title">{{third}} premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="movie-schedule">
            <li *ngFor="let movie of thirdmonth">
              <div class="date">{{movie.release}}</div>
              <h2 class="entry-title"><a routerLink="/movie/{{movie.id}}">{{movie.title}}</a></h2>
            </li>
           
          </ul> <!-- .movie-schedule -->
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</main>